.head {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-item {
    width: 18rem;
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
}
.content {
    display: flex;
}
.slide-item {
    margin-top: 5%;
}
.button-item {
    border: 1px solid rgb(179, 179, 179);
}
.button-menu {
    text-align: center;
    margin-top: 5%;
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    .head {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        text-align: center;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    .card-item {
        width: 45%;
        margin-right: 10%;
        &:nth-child(2) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:nth-child(3) {
            margin-top: 5%;
        }
        &:nth-child(4) {
            margin-top: 5%;
        }
    }
}
@media (max-width: 568px) {
    .container {
        max-width: 500px;
    }
    .card-item {
        width: 100%;
        margin-right: 0;
       margin-top: 5%;
    }
}